.container {
  padding: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movies-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.movies-table th {
  background-color: #0a25bec2;
  padding: 12px;
  text-align: center;
  border-bottom: 2px solid #ddd;
  color: #fff;
}

.movies-table td {
  padding: 18px;
  text-align: center;
  color: #000;
  border-bottom: 1px solid #14041a;
  color: #070707;
}
.movies-table tbody tr:nth-child() {
  background-color: #171072;
}

.movies-table tbody tr:hover {
  background-color: #9ba6ac;
  cursor: pointer;
}

h1,
h3 {
  color: #343a40;
  justify-content: center;
  text-align: center;
}

.filter-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.filter-container input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.sort-container {
  justify-content: center;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.sort-container button {
  padding: 2px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.sort-container button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-bottom: 20px;
}

.link {
  color: #0d2f46;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.link:hover {
  color: #2c3e50;
  text-decoration: underline;
}

.linkProjection {
  color: #8a2020;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.linkProjection:hover {
  color: #2c3e50;
  text-decoration: underline;
}

.new-movie-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #f9f9f9;
}

.new-movie-form h3 {
  margin-bottom: 20px;
}

.new-movie-form input {
  display: block;
  width: calc(100% - 20px);
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.new-movie-form button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.new-movie-form button:hover {
  background-color: #0056b3;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
